@charset "utf-8";

body {
	background-color: #993300;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p {
	font-size: 12px;
}

h1 {
	font-size: 25px;
}

h3	{
	font-size:18px
}


#floatright, .floatright {
float: right;
margin: 0px 0px 5px 5px;
}

#floatleft, .floatleft {
float: left;
margin: 0px 5px 5px 0px;
}

#list-menu {
width: 150px;

}

#list-menu ul {
margin: auto;
padding: 0;
list-style-type: none;
font-family: verdana, arial, sanf-serif;
font-size: 12px;


}

#list-menu li {
margin: 2px 0 0;


}

#list-menu a {
display: block;
width:150px;
height: 20px;
padding: 2px 5px 2px 5px;
border: 0px;
background: #339900;
text-decoration: none; 
text-indent: 0.5cm;


}

#list-menu a:link, #list-menu a:active, #list-menu a:visited {
	color: #ffffff;
}

#list-menu a:hover {
border: 0px;
background: #fff6de;

color: #993333;

}

#navcontainer
{
width: 100%;
float: left;
background-color: #006600;
}

#navcontainer ul { padding: 0; }
#navcontainer ul li { display: inline; }

#navcontainer ul
{
margin: 0;
padding: 0 3% 0 3%;
color: #FFFFFF;
font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
font-size: .75em;
letter-spacing: 2px;

}

#navcontainer ul li a
{
padding: 0.2em 12px;
background-color: #339900;
color: #FFFFFF;
text-decoration: none;
float: left;
border-right: 1px solid #94B473;
}

#navcontainer ul li a:hover
{
background-color: #cc6600;
color: #FFFFFF;
}

#navlist li a:hover, #navlist li a:active
{
color: #FFFFFF;
text-decoration: none;
background: #339900;
text-align: left;
font: verdana, lucida, arial, helvetica, sans-serif;
}
hr {
	clear: both;
}